
# ---- Data (do not commit) ----
data/raw/
data/processed/

# ---- Python ----
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# ---- OS / Editor ----
.DS_Store
.vscode/
.idea/

# ---- Logs ----
*.log